<div id="content" on-container-scroll="loadMoreFriends();">
    <!--<div id="filters-container" sh-filters ng-show="user.loggedIn"></div>-->
    <ul id="friends-list">
        <li class="clearfix" ng-repeat="friend in user.friendsList | userFilterWithShares | parseUserFilter: query| slice:0:visibleFriends">

            <a href="#/friends/{{ friend.id }}">
                <div class="name">{{ friend.get('name') }} (Spent time: {{ friend.get('totalTime') }} h)</div>

                <fb-profile-picture user-id="friend.attributes.facebookid"></fb-profile-picture>
            </a>

            <ul class="friend-shares-list">
                <li ng-repeat="share in user.friendsShares[friend.id]['items']">
                    <small-share-item share="share"></small-share-item>
                </li>
            </ul>

        </li>
    </ul>
</div>