<header id="header" ng-controller="MainCtrl" ng-show="user.loggedIn">
    <button id="menu-btn" ng-click="toggleMenu()"><span class="img"></span></button>
    <a ng-hide="activePath == '/friends'" ng-href="#/friends" id="contact-list-btn"><span class="img"></span></a>
    <a ng-show="activePath == '/friends'" ng-href="#/" id="contact-list-exit-btn"><span class="img"></span></a>

    <div id="logo-container">
        <a ng-href="#/" id="logo"><span class="text">Share❣</span></a>
        <sh-notifications></sh-notifications>
        <span ng-show="debug" class="info">TEST</span>
    </div>
</header>
