<div id="content" data-snap-ignore="true">
    <div id="login">
        <div class="inner">
            <div class="logo">
                <img src="img/big-logo.png"/>
            </div>
            <div class="separator-rev"></div>
            <p class="title">{{ 'Share❣ works on your Facebook contact list' | translate }}</p>
            <div class="separator"></div>
            <fblogin></fblogin>
            <p class="title">{{ 'to start sharing!' | translate }}</p>
        </div>
    </div>
</div>

