<nav>
    <!--<button ng-click="user.fetchData()">{{ 'refresh!' | translate }}</button>-->
    <ul>
        <li>
            <a class="close-after" href="#/share/1">
                <i class="new-share-ico"></i>
                <span class="text">{{ 'New Share❣' | translate }}</span>
            </a>
        </li>
        <li><div class="separator"></div></li>

        <li>
            <a class="close-after" href="#/friends/{{user.currentUser.id}}">
                <i class="me-ico"></i>
                <span class="text">{{ 'My Timeline' | translate }}</span>
            </a>
        </li>
        <li><div class="separator"></div></li>

        <li>
          <a class="close-after" href="#/friends">
            <i class="contact-list-ico"></i>
            <span class="text">{{ 'Contact List' | translate }}</span>
          </a>
        </li>
        <li><div class="separator"></div></li>

        <li>
            <a class="close-after" href="#">
                <i class="timeline-ico"></i>
                <span class="text">{{ 'Timeline' | translate }}</span>
            </a>
        </li>
        <li><div class="separator"></div></li>

        <li>
            <a class="close-after" href="https://www.facebook.com/">
                <i class="FB-ico"></i>
                <span class="text">{{ 'Share❣ Fanpage' | translate }}</span>
            </a>
        </li>
        <li><div class="separator"></div></li>

        <li>
            <a class="close-after" href="http://share.vorski.com/help">
                <i class="help-ico"></i>
                <span class="text">{{ 'Help' | translate }}</span>
            </a>
        </li>
        <li><div class="separator"></div></li>

    </ul>
    <ul class="pull-bottom">
        <li>
            <div class="separator"></div>
            <!--<a class="close-after" href="#/settings">-->
                <!--<i class="settings-ico"></i>-->
                <!--<span class="text">{{ 'Settings' | translate }}</span>-->
            <!--</a>-->
<!---->
            <!--<div class="separator"></div>-->
        </li>
        <li>
            <a href="#">
                <i class="flag-ico"></i>
                <span class="text">{{ "Language" | translate }}</span>
            </a>
            <div id="lang-switcher" lang-switcher></div>
            <div class="separator"></div>
        </li>
        <li>
            <logout></logout>
        </li>
    </ul>
</nav>
