<div id="content" on-container-scroll="loadMoreFriends();">
    <div id="friend-select">
        <div class="inner">
            <div class="header">
                <button class="share-direction" ng-click="changeDirection()"
                        ng-class="{0: 'left', 1: 'right'}[share.direction]"></button>
                <span class="search-container">
                    <span class="ico"></span>
                    <input class="search" ng-model="query"
                           autofocus="true"
                           placeholder="{{ 'Search for friend' | translate }}">
                </span>
            </div>
            <div id="friends-sorting">
                <div ng-click="sorting='frequent'" ng-class="{frequent: 'active'}[sorting]" class="item">{{ 'Frequent' |
                    translate }}
                </div>
                <div ng-click="sorting='recent'" ng-class="{recent: 'active'}[sorting]" class="item">{{ 'Recent' |
                    translate }}
                </div>
                <div ng-click="sorting='alphabetically'" ng-class="{alphabetically: 'active'}[sorting]" class="item">{{
                    'A-Z' | translate }}
                </div>
            </div>

            <ul class="friend-select-list">
                <li ng-repeat="friend in user.friendsList | parseuserfilter: query | parseusersorter: sorting | slice:0:visibleFriends">
                    <a href="" ng-click="selectFriend(friend)">
                        <fb-profile-picture user-id="friend.attributes.facebookid"></fb-profile-picture>
                        <span class="title-container">
                            <span class="title-wrapper">
                                <span class="title">
                                    {{ friend.get('name') }}
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>